.parcel {
	border-bottom: 0.1rem solid var(--gray-200);
	cursor: default;
	display: flex;
	justify-content: space-between;
	padding: 1rem;
}

.parcel:hover {
	background-color: var(--gray-200);
}

.parcel__information {
	line-height: 1.25;
}

.parcel__carriers,
.parcel__items {
	font-size: 0.8rem;
}

.parcel__date {
	color: var(--red-100);
	display: grid;
	font-size: 0.8rem;
	place-content: center;
}
