.shipment {
	align-items: center;
	border-bottom: 0.1rem solid var(--gray-200);
	cursor: default;
	display: flex;
	justify-content: space-between;
	padding: 1rem;
	width: 100%;
}

.shipment:hover {
	background-color: var(--gray-200);
}

.shipment__information {
	line-height: 1.25;
}

.shipment__carriers,
.shipment__items {
	font-size: 0.8rem;
}

.shipment__date {
	color: var(--red-100);
	display: grid;
	font-size: 0.8rem;
	place-content: center;
}
