.label {
	font-size: 0.75rem;
}

.label--bottom {
	background-color: var(--white-100);
	left: calc(1rem - 0.25rem);
	padding: 0.25rem;
	position: relative;
	top: 0.5rem;
	z-index: 1;
}

.label--signature {
	background: linear-gradient(var(--white-100), var(--white-100), var(--blue-100));
}

.input ~ :not(.label--bottom) {
	margin-bottom: 1rem;
}
