.dialog {
	background-color: var(--black-50);
	display: flex;
	inset: 0;
	margin-inline: auto;
	opacity: 0;
	position: fixed;
	visibility: hidden;
	z-index: 2;

	transition: opacity, visibility;
	transition-duration: 250ms;
	transition-timing-function: ease;
}

.dialog__window {
	background-color: var(--white-100);
	margin-inline: auto;
	padding: 2rem;
	transform: translateY(100%);

	transition: transform, visibility;
	transition-duration: 250ms;
	transition-timing-function: ease;
}

.dialog__header {
}

.dialog__title {
	font-size: 1.25rem;
	text-align: center;
	margin-bottom: 1rem;
}

.dialog__body {
}

.dialog__icon {
	color: var(--red-100);
	display: grid;
	place-content: center;
	padding-block: 2rem;
}

.dialog__text {
	font-size: 1.25rem;
	text-align: center;
	margin-bottom: 2rem;
}

.dialog__footer {
}

.dialog[open] {
	opacity: 1;
	visibility: visible;
}

.dialog[open] .dialog__window {
	transform: translateY(0);
}

.dialog--bottom {
	align-items: flex-end;
}

.dialog--bottom .dialog__window {
	border-radius: 1.5rem 1.5rem 0 0;
	width: min(50rem, 100%);
}

.dialog--center {
	align-items: center;
}

.dialog--center .dialog__window {
	border-radius: 1.5rem;
	max-width: min(50rem, 90%);
}

.dialog--lines .dialog__window::after {
	background-color: var(--gray-100);
	border-radius: 5rem;
	content: '';
	height: 0.2rem;
	left: 50%;
	position: absolute;
	top: 0.75rem;
	transform: translateX(-50%);
	width: 5rem;
}

.dialog--lines .dialog__header {
	border-bottom: 0.1rem solid var(--gray-100);
	margin-bottom: 1rem;
}
